h1{
    color:darkgoldenrod;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.div{
    text-align: center;
}

h2{
    color:darkgoldenrod;
    background-color:bisque;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
p {
    color:blueviolet;
    font-size: 20px;
    text-align: justify;
}
.parrafoItalic {
    color:brown;
    font-style: italic;
}

#listas {
    color:indigo;
    font-size: 20px;
    text-align: left;
}

