form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;	
}

form input[type="text"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px;	
}

form button{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
    border-radius:5px;
	color:#fff;
	background-color:#000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

form button:hover{
	cursor:pointer;
}